<link rel="import" href="../../../bower_components/polymer/polymer-element.html" />
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html" />

<dom-module id="rutzkat-net-month-planning">
  <template>
    <iron-ajax
        auto
        url="{{sourceUrl}}/manga-news"
        params="{{_getParams(year, month)}}"
        handle-as="json"
        on-request="handleRequest"
        on-response="handleResponse"
        on-error="handleRequestError"
    ></iron-ajax>
  </template>

  <script>
      class RutzkatNetMonthPlanning extends Polymer.Element {
        static get is() { return 'rutzkat-net-month-planning'; }

        static get properties() {
          return {
            sourceUrl: String,
            month: Number,
            year: Number,
          };
        }

        _getParams(year, month) {
          let realMonth = month;
          let realYear = year;

          while (realMonth > 12) {
            realMonth -= 12;
            realYear += 1;
          }

          return {
            year: realYear,
            month: realMonth,
          };
        }

        get requestId() {
          return `${+this.year}-${+this.month}`;
        }

        handleRequest(event) {
          this.dispatchEvent(new CustomEvent('request', { detail: { requestId: this.requestId }}));
          event.stopPropagation();
        }

        handleResponse(response) {
          const details = response.detail;

          if (!details.succeeded) {
            return this.handleRequestError(response);
          }

          this.dispatchEvent(new CustomEvent('response', {
            detail: {
              requestId: this.requestId,
              planning: details.response.map(item => Object.assign({}, item, {
                date: new Date(item.date),
                requestId: this.requestId,
              })),
            },
          }));

          response.stopPropagation();
        }

        handleRequestError(event) {
          this.dispatchEvent(new CustomEvent('error'));
          event.stopPropagation();
        }
      }

      customElements.define(RutzkatNetMonthPlanning.is, RutzkatNetMonthPlanning);
  </script>
</dom-module>
