<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-progress/paper-progress.html" />

<link rel="import" href="../page.html" />
<link rel="import" href="../model/favorite-titles.html" />
<link rel="import" href="../model/tag-favorite-books.html" />
<link rel="import" href="../app-header-filter.html" />
<link rel="import" href="../book-item-list.html" />

<dom-module id="rutzkat-book-list-page">
  <template>
    <style>
      paper-progress {
        width: 100%;
        --paper-progress-active-color: var(--rutzkat-strong-color);
      }
    </style>

    <rutzkat-tag-favorite-books
        books="{{books}}"
        titles="{{favorites}}"
        tagged-books="{{finalItems}}"
    ></rutzkat-tag-favorite-books>

    <rutzkat-page title="Rutzkat" id="page">
      <rutzkat-header-filter slot="action-buttons" value="{{filter}}"></rutzkat-header-filter>

      <dom-if if="[[isLoading]]">
        <template>
          <paper-progress slot="header-bottom" indeterminate></paper-progress>
        </template>
      </dom-if>

      <book-item-list
        id="list"
        items="{{finalItems}}"
        on-approach-end="handleApproachEnd"
        is-loading="{{isLoading}}"
        on-item-click="handleItemClick"
      ></book-item-list>
    </rutzkat-page>
  </template>

  <script>
      class RutzkatBookListPage extends Polymer.mixinBehaviors([Polymer.IronResizableBehavior], Polymer.Element) {
        static get is() { return 'rutzkat-book-list-page'; }

        static get properties() {
          return {
	          isLoading: {
	            type: Boolean,
	            value: false,
	          },

	          books: {
	            type: Array,
	          },

            filter: {
              type: String,
		          value: '',
		          notify: true,
            },

            favorites: {
              type: Array,
              value: [],
            },

            config: Object
          };
        }

        ready() {
          super.ready();
          this.$.list.scrollTarget = this.$.page;
        }

        handleApproachEnd() {
          this.dispatchEvent(new CustomEvent('approach-end'));
        }

        handleItemClick(event) {
          this.dispatchEvent(new CustomEvent('item-click', { detail: event.detail }));
        }

        _handlePageChange() {
          this.$.favoriteTitles.reload();
        }
      }

      customElements.define(RutzkatBookListPage.is, RutzkatBookListPage);
  </script>
</dom-module>
