<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/polymer/polymer.html" />
<link rel="import" href="../../../bower_components/iron-localstorage/iron-localstorage.html" />

<dom-module id="rutzkat-favorite-titles">
  <template>
    <iron-localstorage
        id="localStorage"
        name="rutzkat-favorite-titles"
        value="{{localTitles}}"
        on-iron-localstorage-load-empty="_handleLocalStorageLoadEmpty"
        on-iron-localstorage-load="_dispatchTitlesChange"
    ></iron-localstorage>
  </template>

  <script>
      class RutzkatFavoriteTitles extends Polymer.Element {
        static get is() { return 'rutzkat-favorite-titles'; }

        static get properties() {
          return {
            titles: {
              type: Array,
              notify: true,
              readOnly: true,
            },
          };
        }

        _handleLocalStorageLoadEmpty() {
          this.set('localTitles', []);
          this._dispatchTitlesChange();
        }

        _dispatchTitlesChange() {
          this._setProperty('titles', this.localTitles);
          this.dispatchEvent(new CustomEvent('titles-change'));
        }

        addTitle(title) {
          this.push('localTitles', title);
          this._dispatchTitlesChange();
        }

        removeTitle(title) {
          const index = this.titles.indexOf(title);

          if (index !== -1) {
            this.splice('localTitles', index, 1);
            this._dispatchTitlesChange();
          }
        }

        toggleTitle(title) {
          if (this.hasTitle(title)) {
            this.removeTitle(title);
          } else {
            this.addTitle(title);
          }
        }

        hasTitle(title) {
          return !!this.titles && this.titles.includes(title);
        }

        reload() {
          this.$.localStorage.reload();
        }
      }

      customElements.define(RutzkatFavoriteTitles.is, RutzkatFavoriteTitles);
  </script>
</dom-module>
