<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="rutzkat-sort-for-planning">
  <script>
      class RutzkatSortForPlanning extends Polymer.Element {
        static get is() { return 'rutzkat-sort-for-planning'; }

        static get properties() {
          return {
            items: {
              type: Array,
              value: [],
            },

            sortedItems: {
              type: Array,
              notify: true,
              computed: '_sortItems(items)',
            },

          };
        }

        _sortItems(items) {
          return [].concat(items).sort((item1, item2) => {
            if (Math.abs(item1.date - item2.date) < 3600) {
              return item1.volume < item2.volume ? -1 : 1;
            }
            return item1.date < item2.date ? -1 : 1
          });
        }
      }

      customElements.define(RutzkatSortForPlanning.is, RutzkatSortForPlanning);
  </script>
</dom-module>
