<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="rutzkat-tag-favorite-books">
  <script>
      class RutzkatTagFavoriteBooks extends Polymer.Element {
        static get is() { return 'rutzkat-tag-favorite-books'; }

        static get properties() {
          return {
            books: Array,
            titles: Array,
            taggedBooks: {
              type: Array,
              computed: '_tagFavoriteBooks(books, titles)',
              notify: true,
            },
          };
        }

        _tagFavoriteBooks(books, titles) {
          if (!books) {
            return [];
          }

          if (!titles) {
            return books;
          }

          return books.map(book => Object.assign({}, book, {
            isFavorite: titles.includes(book.title),
          }));
        }
      }

      customElements.define(RutzkatTagFavoriteBooks.is, RutzkatTagFavoriteBooks);
  </script>
</dom-module>
