<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html" />
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html" />
<link rel="import" href="../../bower_components/paper-input/paper-input.html" />

<dom-module id="rutzkat-header-filter">
  <template>
    <style>
      :host {
        --primary-color: white;
        --primary-text-color: white;

        display: flex;
        flex-direction: row;
        align-items: center;
      }

      iron-icon {
        cursor: pointer;
      }

      paper-input {
        margin: 0 0.5em;
      }

      .input-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        transition: width 0.3s;
        width: 0;
        overflow: hidden;
      }

      .input-container.visible {
        width: 10em;
      }

    </style>
    <iron-icon icon="icons:search" on-click="showInput"></iron-icon>
    <div class="input-container" id="container">
      <paper-input id="input" value="{{value}}"></paper-input>
      <iron-icon icon="icons:close" on-click="cancelFiltering"></iron-icon>
    </div>
  </template>

  <script>
      class HeaderFilter extends Polymer.Element {
        static get is() { return 'rutzkat-header-filter'; }

        static get properties() {
          return {
            value: {
              type: String,
              notify: true,
            },
          };
        }

        ready() {
          super.ready();
          this.input.inputElement.addEventListener('blur', this.hideInput.bind(this));
        }

        get inputContainer() {
          return this.$.container;
        }

        get input() {
          return this.$.input;
        }

        showInput() {
          this.value = '';
          this.inputContainer.classList.add('visible');
          this.input.focus();
        }

        hideInput() {
          this.inputContainer.classList.remove('visible');
          this.input.blur();
        }

        cancelFiltering() {
          this.hideInput();
          this.value = '';
        }
      }

      customElements.define(HeaderFilter.is, HeaderFilter);
  </script>
</dom-module>
