<link rel="import" href="./pages/book-list-page.html" />

<link rel="import" href="./page.html" />
<link rel="import" href="./back-button.html" />
<link rel="import" href="./star-button.html" />
<link rel="import" href="./book-item-list.html" />
