<link rel="import" href="../../bower_components/polymer/polymer-element.html" />
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html" />

<dom-module id="rutzkat-back-button">
  <template>
    <style>
      a {
        color: var(--text-color-primary);
      }
    </style>
    <a href="{{backUrl}}">
      <paper-icon-button icon="icons:arrow-back"></paper-icon-button>
    </a>
  </template>

  <script>
      class RutzkatBackButton extends Polymer.Element {
        static get is() { return 'rutzkat-back-button'; }

        static get properties() {
          return {
            backUrl: String,
          };
        }
      }

      customElements.define(RutzkatBackButton.is, RutzkatBackButton);
  </script>
</dom-module>
