<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html" />
<link rel="import" href="../../bower_components/paper-item/paper-item-body.html" />
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html" />

<dom-module id="book-item">
  <template>
    <style>
      :host {
        display: block;
      }

      /* Required for now, I don't know why. Remove it later */
      [secondary] {
        color: var(--secondary-text-color);
      }
    </style>

    <paper-item>
      <paper-item-body two-line>
        <div>[[getTitle(title, volume)]]</div>
        <div secondary>[[formatDate(date)]]</div>
      </paper-item-body>

      <dom-if if="[[isFavorite]]">
        <template>
          <iron-icon icon="icons:star"></iron-icon>
        </template>
      </dom-if>
    </paper-item>

  </template>

  <script>
      class BookItem extends Polymer.Element {
        static get is() { return 'book-item'; }

        static get properties() {
          return {
            title: String,
            volume: Number,
            date: Date,
            isFavorite: Boolean,
          };
        }

        ensureTwoDigits(n) {
          return n < 10 ? `0${n}` : String(n);
        }

        formatDate(date) {
	  let realDate = date instanceof Date ? date : new Date(date);
          const month = this.ensureTwoDigits(realDate.getMonth() + 1);
          const day = this.ensureTwoDigits(realDate.getDate());
          return `${realDate.getFullYear()}-${month}-${day}`;
        }

        getTitle(title, volume) {
          if (volume === null) {
            return title;
          }

          return `${title} Vol.${volume}`;
        }
      }

      customElements.define(BookItem.is, BookItem);
  </script>
</dom-module>
