<link rel="import" href="../../bower_components/polymer/polymer-element.html" />
<link rel="import" href="../../bower_components/iron-list/iron-list.html" />
<link rel="import" href="../../bower_components/iron-scroll-threshold/iron-scroll-threshold.html"  />

<link rel="import" href="./book-item.html" />
<link rel="import" href="./model/sort-for-planning.html" />

<dom-module id="book-item-list">
  <template>
    <style>
      :host {
        display: flex;
        flex-direction: column;
      }

      [hidden] {
        visibility: hidden;
      }

      #container {
        width: 100%;
        height: 100%;
        overflow: auto;
      }
    </style>

    <rutzkat-sort-for-planning
        items="[[items]]"
        sorted-items="{{sortedItems}}"
    ></rutzkat-sort-for-planning>

    <div id="container">
      <iron-scroll-threshold on-lower-threshold="fireApproachEnd" id="scroller" scroll-target="container">
        <iron-list items="[[sortedItems]]" scroll-target="scroller" id="list">
          <template>
            <book-item
              on-click="handleItemClick"
              title="[[item.title]]"
              volume="[[item.volume]]"
              date="[[item.date]]"
              is-favorite="[[item.isFavorite]]"
            ></book-item>
          </template>
        </iron-list>
      </iron-scroll-threshold>
    </div>
  </template>

  <script>
   class RutzkatBookItemList extends Polymer.Element {
     static get is() { return 'book-item-list'; }

     static get properties() {
       return {
         items: {
           type: Array,
         },
         isLoading: {
           type: Boolean,
         },
       };
     }

     /**
      * Fire the event 'approach end'
      * The event is triggered only once every 500ms
      */
     fireApproachEnd() {
       // Prevent event being fired when the list is not initialized
       if (this.$.list.offsetHeight > 0) {
         this.dispatchEvent(new CustomEvent('approach-end'));
       }
       this.$.scroller.clearTriggers();
     }

     handleItemClick(event) {
       const itemNode = event.target;
       const item = {
         title: itemNode.title,
         volume: itemNode.volume,
         date: itemNode.date,
       };

       this.dispatchEvent(new CustomEvent('item-click', { detail: { item }}));
     }
   }

   customElements.define(RutzkatBookItemList.is, RutzkatBookItemList);
  </script>

</dom-module>
