<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html" />
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html" />
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html" />
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html" />

<dom-module id="rutzkat-page">
  <template>
    <style>
      :host {
        display: block;
        --rutzkat-primary-color: #048177;
        --rutzkat-strong-color: #036d65;
        --rutzkat-bg-color: white;

        height: 100vh;
        overflow: auto;
      }

     .container {
         width: 100vw;
         height: 100vh;
         display: flex;
         flex-direction: column;
         align-items: stretch;
     }

     .content {
         flex: 1 1 auto;
         overflow: auto;
         display: flex;
         flex-direction: column;
         background-color: var(--rutzkat-bg-color);
     }

      app-header {
        color: white;
        background-color: var(--rutzkat-primary-color);

        --app-header-shadow: {
          box-shadow: inset 0px 5px 2px -3px rgba(0, 0, 0, 0.2);
        };
      }
    </style>

    <div class="container">
      <app-header slot="header" fixed condenses effects="waterfall">
        <app-toolbar>
          <slot name="left-button"></slot>
          <div main-title>{{title}}</div>
          <slot name="action-buttons"></slot>
          <div bottom-item>
            <slot name="header-bottom"></slot>
          </div>

        </app-toolbar>
      </app-header>
      <div class="content">
        <slot></slot>
      </div>
    </div>
  </template>

  <script>
      class Page extends Polymer.mixinBehaviors([Polymer.IronResizableBehavior], Polymer.Element) {
        static get is() { return 'rutzkat-page'; }

        static get properties() {
          return {
            title: String,
          };
        }
      }

      customElements.define(Page.is, Page);
  </script>
</dom-module>
