<link rel="import" href="../../bower_components/polymer/polymer-element.html" />
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html" />

<dom-module id="rutzkat-star-button">
  <template>
    <paper-icon-button icon="{{getIcon(isActive)}}"></paper-icon-button>
  </template>

  <script>
      class RutzkatStarButton extends Polymer.Element {
        static get is() { return 'rutzkat-star-button'; }

        static get properties() {
          return {
            isActive: {
	      type: Boolean,
	      value: false,
	    }
          };
        }

        getIcon(isActive) {
          return isActive ? 'icons:star' : 'icons:star-border';
        }
      }

      customElements.define(RutzkatStarButton.is, RutzkatStarButton);
  </script>
</dom-module>
